<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src ="ajax.js"></script>
    <script>
        /*按钮禁用60秒,并显示倒计时*/
        function disabledButton(){
            document.getElementById("sendCodeBtn").disabled = true //控制按钮为禁用
            var second = 60;
            var intervalObj = setInterval(function () {
                document.getElementById("sendCodeBtn").innerText = second;
                if(second == 0){
                    document.getElementById("sendCodeBtn").disabled = false; //将按钮可用
                    document.getElementById("sendCodeBtn").innerText = "重新发送";
                    /* 清除已设置的setInterval对象 */
                    clearInterval(intervalObj);
                }
                second--;
            }, 1000);
        }

        function error(data)
        {
            console.log(data);
        }
        function sendCode()
        {
            if(document.getElementById("email")==null || document.getElementById("email").value=="")alert("请输入邮箱");
            else
            {
                var data = {
                    "email":document.getElementById("email").value,
                    "find":"true"
                }
                disabledButton();
                ajax("/sendCode",data,"post",function (data)
                {
                    //data.status 100表示传来意外的参数，200表示成功，300表示用户不存在，400表示服务错误
                    if(data.status==100)
                    {
                        alert("传入了异常的参数");
                    }
                    else if(data.status==200)
                    {
                        alert("验证码已发送");
                    }
                    else if(data.status==300)
                    {
                        alert("用户不存在");
                    }
                    else if(data.status==400)
                    {
                        alert("服务错误");
                    }
                },function (data)
                {
                    console.log(data);
                });
            }
        }
        function tijiao()
        {
            var password = document.getElementById("password").value;
            var password2 = document.getElementById("password2").value;
            var email = document.getElementById("email").value;
            var code = document.getElementById("code").value;
            if( password!=password2||password==""||password2==""||email==""||code=="") alert("你小子");
            else
            {
                if(firm(password)==false)return;
                var data = {
                    "email":email,
                    "code":code,
                    "password":password
                }
                ajax("/setpassword",data,"post",function (data) {
                    if(data.status==100)
                    {
                        alert("传入了异常的参数");
                    }
                    else if(data.status==200)
                    {
                        alert("密码修改成功");
                        window.location.href = "/login";
                    }
                    else if(data.status==300)
                    {
                        alert("验证码错误");
                    }
                    else if(data.status==400)
                    {
                        alert("服务错误");
                    }

                },error);
            }

        }
    </script>
</head>
<body>
<!--用户输入邮箱，点击发送验证码-->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/forgetpassword" method="post">
                <div class="fo  rm-group">
                    <label for="email">邮箱</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="邮箱">
                </div>
                <!--发送验证码按钮-->
                <button type="button" id="sendCodeBtn" class="btn btn-primary" onclick="sendCode()" >发送验证码</button>
                <div class="form-group">
                    <label for="code">验证码</label>
                    <input type="text" class="form-control" id="code" name="code" placeholder="验证码">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                </div>
                <div class="form-group">
                    <label for="password2">确认密码</label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="确认密码">
                </div>
                <button type="button" class="btn btn-primary" onclick="tijiao()">提交</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>