<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat App Layout</title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="javascript/index.js"></script>
</head>
<body>

<div id="app-container">
  <div id="sidebar">
    Sidebar Content
    <button id="new-drawing-button">Create New Drawing</button>
  </div>

  <div id="chat-container">
  
    <div id="message-list">
      <!-- Messages will go here -->
    </div>
    
    <div id="input-area">
      <textarea type="text" id="input-box" placeholder="你想和我聊点什么？(Shift + Enter = 换行)" rows="1"></textarea>
      <button id="send-button" style="background: #45a049;">发送</button>
    </div>
    
  </div>
</div>
</body>
</html>