<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"/>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="ajax.js"></script>
    <script>
        function firm(password)
        {
            //验证密码是否简单
            if (password.length < 6) {
                alert("密码长度不能小于6位");
                return false;
            }
            if (password.length > 20) {
                alert("密码长度不能大于20位");
                return false;
            }
            if (password.search(/[\u4e00-\u9fa5]/) != -1) {
                alert("密码不能包含中文");
                return false;
            }
            if (password.search(/[0-9]/) == -1) {
                alert("密码必须包含数字");
                return false;
            }
            if (password.search(/[a-z]/) == -1) {
                alert("密码必须包含小写字母");
                return false;
            }
            return true;
        }
        function register() {
            //如果两次密码不对则弹出提醒，并清空输入框
            if (document.getElementById("password").value != document.getElementById("rePassword").value) {
                alert("两次密码不一致，请重新输入");
                document.getElementById("password").value = "";
                document.getElementById("rePassword").value = "";
            }
            //如果密码为空则弹出提醒，并清空输入框
            if (document.getElementById("password").value != ""){
                var username = document.getElementById("name").value;
                var password = document.getElementById("password").value;
                if (username != "" && password != "") {
                    if (!firm(password))return;
                    //如果用户名和密码都不为空则发送ajax请求
                    var data = {
                        username: username,
                        password: password,
                        code: document.getElementById("code").value,
                        email: document.getElementById("email").value
                    };
                    ajax("/register", data,"POST", success,error);

                }
            }
        }
        function success(data) {
            console.log(data);
            if (data.status == 200)
            {
                alert("注册成功");
                //跳转到登录页面
                window.location.href = "login";

            }
            else if (data.status == 400)
            {
                alert("验证码不正确");
            }
            else if (data.status == 300)
            {
                alert("用户名已存在或邮箱已经注册");
            }
            else
            {
                alert("注册失败");
            }
        }
        function error(data) {
            console.log(data);
            alert("失败");
        }
        /*按钮禁用60秒,并显示倒计时*/
        function disabledButton(){
            document.getElementById("sendCodeBtn").disabled = true //控制按钮为禁用
            var second = 60;
            var intervalObj = setInterval(function () {
                document.getElementById("sendCodeBtn").innerText = second;
                if(second == 0){
                    document.getElementById("sendCodeBtn").disabled = true //将按钮可用
                    /* 清除已设置的setInterval对象 */
                    clearInterval(intervalObj);
                }
                second--;
            }, 1000);
        }
        //发送验证码
        function sendCode() {
            //发送验证码按钮60s屏蔽
            disabledButton();
            var username = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            if (username != ""&&email != "") {
                var ss = function (data){
                    if (data.status == 200) {
                        alert("验证码发送成功");
                        //将email输入框设成不可输入
                        document.getElementById("email").readOnly = true;
                        document.getElementById("name").readOnly = true;
                    }
                    else if (data.status == 300)
                    {
                        alert("用户名已存在");
                    }
                    else
                    {
                        alert("发送失败");
                    }
                }
                ajax("/sendCode", {username: username,email: email}, "POST",ss, error);
            }
            else
            {
                alert("用户名不能为空");
            }
        }
    </script>
</head>
<body>
<!--注册页面-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" id="registerForm">
                <fieldset>
                    <legend>注册</legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">用户名</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="name" name="name" placeholder="请输入用户名">

                            <div id="nameError"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">密码</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                            <div id="passwordError"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="rePassword">确认密码</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="rePassword" name="rePassword" placeholder="请再次输入密码">
                            <div id="rePasswordError"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">邮箱</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱">
                            <div id="emailError"></div>
                         </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="code">验证码</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="code" name="code" placeholder="请输入验证码">
                            <div id="codeError"></div>
                            <button type="button" class="btn btn-default" id="sendCodeBtn" onclick="sendCode()">发送验证码</button>
                        </div>
                    </div>
                </fieldset>
                <!--注册按钮-->
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="button" class="btn btn-primary" id="registerBtn" onclick="register()">注册</button>
                    </div>
                </div>
            </form>
        </div>

</body>
</html>