<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"/>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="ajax.js"></script>
    <script>
        function firm(password)
        {
            //验证密码是否简单
            if (password.length < 6) {
                alert("密码长度不能小于6位");
                return false;
            }
            if (password.length > 12) {
                alert("密码长度不能大于12位");
                return false;
            }
            if (password.search(/[\u4e00-\u9fa5]/) != -1) {
                alert("密码不能包含中文");
                return false;
            }
            if (password.search(/[0-9]/) == -1) {
                alert("密码必须包含数字");
                return false;
            }
            if (password.search(/[a-z]/) == -1) {
                alert("密码必须包含小写字母");
                return false;
            }
            return true;
        }
        function register() {
            //如果两次密码不对则弹出提醒，并清空输入框
            if (document.getElementById("password").value != document.getElementById("rePassword").value) {
                alert("两次密码不一致，请重新输入");
                document.getElementById("password").value = "";
                document.getElementById("rePassword").value = "";
            }
            //如果密码为空则弹出提醒，并清空输入框
            if (document.getElementById("password").value != ""){
                var username = document.getElementById("name").value;
                var password = document.getElementById("password").value;
                if (username != "" && password != "") {
                    if (!firm(password))return;
                    //如果用户名和密码都不为空则发送ajax请求
                    var data = {
                        username: username,
                        password: password
                    };
                    ajax("/register", data,"POST", success,error);

                }
            }
        }
        function success(data) {
            console.log(data);
            if (data.status == 200)
            {
                alert("注册成功");
                //跳转到登录页面
                window.location.href = "login.html";

            }
            else if (data.status == 300)
            {
                alert("用户名已存在");
            }
            else
            {
                alert("注册失败");
            }
        }
        function error(data) {
            console.log(data);
            alert("失败");
        }
        //创建一个倒计时线程
        function countdown() {
            var time = 60;
            while (time > 0) {
                time--;
                document.getElementById("time").innerHTML = time;
                //触发函数
                setTimeout(countdown, 1000);
            }
        }
    </script>
</head>
<body>
<!--注册页面-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" id="registerForm">
                <fieldset>
                    <legend>注册</legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">用户名</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="name" name="name" placeholder="请输入用户名">

                            <div id="nameError"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">密码</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                            <div id="passwordError"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="rePassword">确认密码</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="rePassword" name="rePassword" placeholder="请再次输入密码">
                            <div id="rePasswordError"></div>
                        </div>
                    </div>
                </fieldset>
                <!--注册按钮-->
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="button" class="btn btn-primary" id="registerBtn" onclick="register()">注册</button>
                    </div>
                </div>
            </form>
        </div>

</body>
</html>